*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(135deg, #1f1f1f, #3a3a3a);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px #0000001a;
}
.container .time{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #333;
}