*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #e5dfdf;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000001a;
    width: 500px;
}
p{
    margin-bottom: 15px;
    font-size: 14px;
    color: #8b8787;
}

button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    flex: 1;
    width: 100%;
    margin-bottom: 10px;
    height: auto;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #0056b3;
}
button:active{
    transform: scale(.91);
}